<!DOCTYPE html>
<html lang="en">
<head>
    <title>WebUni - Education Template</title>
    <meta charset="UTF-8">
    <meta name="description" content="WebUni Education Template">
    <meta name="keywords" content="webuni, education, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->   
    <link href="images/favicon.ico" rel="shortcut icon"/>
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/owl.carousel.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    
    
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head>
<body>
	<!-- Header -->
    <%- include('component/header.ejs') %>
    <!-- End of Common header -->    

    <!-- Page info -->
	<div class="page-info-section set-bg" data-setbg="images/page-bg/3.jpg">
		<div class="container">
			<div class="site-breadcrumb">
				<a href="#">Home</a>
				<span>About Us</span>
			</div>
		</div>
	</div>
	<!-- Page info end -->
     
	<!-- Footer -->
    <%- include('component/footer.ejs') %>
    <!-- End of Common Footer -->	

	<!--====== Javascripts & Jquery ======-->
	<script src="javascripts/jquery-3.2.1.min.js"></script>
	<script src="javascripts/bootstrap.min.js"></script>
	<script src="javascripts/mixitup.min.js"></script>
	<script src="javascripts/circle-progress.min.js"></script>
	<script src="javascripts/owl.carousel.min.js"></script>
    <script src="javascripts/main.js"></script>
    <script src="javascripts/loginform.js"></script>
</body>
</html>