<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header section -->
<header class="header-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="site-logo">
                    <img src="images/logo.png" alt="">
                </div>
                <div class="nav-switch">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <a href="#" id="login" class="site-btn header-btn" onclick="openForm()">Login</a>
                <nav class="main-menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/aboutus">About us</a></li>
                        <li><a href="/courses">Courses</a></li>
                        <li><a href="/blogs">News</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/register">Register</a></li>
                    </ul>
                </nav>
            </div>
            <div class="form-popup" id="myForm">
                <form action="" class="form-container">
                  <h1>Login</h1>
            
                  <label for="email"><b>Email</b></label>
                  <input type="text" placeholder="Enter Email" name="email" required>
              
                  <label for="psw"><b>Password</b></label>
                  <input type="password" placeholder="Enter Password" name="psw" required>
              
                  <button type="submit" class="btn">Login</button>
                  <button type="submit" class="btn cancel" onclick="closeForm()">Close</button>
                </form>
            </div>
        </div>
    </div>
</header>
<!-- Header section end -->
